/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.created_by_div {
    border: 1px solid grey;
    background: lightgray;
    padding: 5px;
    border-radius: 10px;
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.created_by {
    color: blue !important;
    font-weight: bold;
}
.created_by:hover {
    color: white !important;
    font-weight: bold;
}

div.row{
    min-height: 300px;
}